<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= render "layouts/error_messages", error: @user %>
      <%= form_with model: @user, local: true do |f| %>
        <div class="form_group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form_group">
          <label>Image</label><br>
          <%= f.attachment_field :profile_image %>
        </div>
        <div class="form_group">
          <%= f.label :introduction %><br>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="form_group">
          <%= f.submit "Update User", class: "btn btn-secondary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
